# Data Structures
Data structure is a storage that is used to store and organize data. It is a way of arranging data on a computer so that it can be accessed and updated efficiently.

## Lists
A list is an ordered data structure with elements separated by a comma and enclosed within square brackets.

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')
fruits.count('tangerine')
fruits.index('banana')
fruits.index('banana', 4)
fruits.reverse()
fruits
fruits.append('grape')
fruits
fruits.sort()
fruits
fruits.pop()

'pear'

the block above creates a list of fruits and applies some list operations by calling the operation's corresponding method.
* `count('apple')` returns the counted number of times `apple` occurs in `fruits`.
* count('tangerine') does the same operation as `count('apple')` but it returns *0* since `fruits` does not contain `tangerine`
* `index('banana')` returns the zero-based index of the first `banana` item starting from the beginning of the `fruits`.
* `index('banana',4)` returns the zero-based index of the first `banana` item by beginning the index search from index 4.
* `reverse()` reverses the items in `fruits` and replaces the value of fruits with the new reversed items.
* `append('grape')` adds grape to the end of the list (fruits) thereby increasing the size of the fruits by 1
* `sort()` sorts the items in fruits in ascending alphabetical order.This is because no sorting criteria is passed to the `key` parameter so it defaults to alphabetical ordering (since `fruits` contains only strings). The default value of the `reverse` parameter is False hence the sorting is done in ascending order. `fruits` is replace is with new sorted list after the operation.
* `pop()` removes and returns the last item in `fruits` thereby decreasing the length of `fruits` by 1

### Using Lists as Stacks
A stack is basically a last-in first-out data structure.

In [2]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack
stack.pop()
stack
stack.pop()
stack.pop()
stack

[3, 4]

* `append(6)` adds 6 to end of the list and returns nothing.It increase the size of the the list by 1.
* `append(7)`  same as `append(6)`
* `pop()` removes and returns the last item in `stack` thereby decreasing the length of `fruits` by 1. Since `pop()` is called 3 times, the *last 3* items of stack are removed

### Using List as Queues
A queue is basically a first-in first-out data structure.

In [3]:
from collections import deque

queue = deque(['Eric', 'John', 'Michael'])
queue.append('Terry')
queue.append('Graham')
queue
queue.popleft()
queue
queue.popleft()
queue

deque(['Michael', 'Terry', 'Graham'])

* the deque class imported from the collections package provides a fast insertion and pops from the beginning of the list.
* each `append()` adds the argument passed to end of the list and returns nothing.It increase the size of the the list by 1.
* `popleft()` removes and returns the first element from the beginning of the list. It also decreases the length of the list by 1.
* Since `popleft()` is called twice, the first item, `Eric` is first removed, afterward the first item of the remaining items (`John`) is also removed.
* the remaining items are then `Michael, Terry and Graham`

### List Comprehension

In [4]:
squares = []
for x in range(10):
    squares.append(x ** 2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* this block uses a for loop to create a list of the square of numbers from 0 to 9.
* the drawback of this method is that the variable `x` overrides previous variables which were declared with the same name `x`
This behaviour may not be required in certain applications.
Hence another approach where `x` is not available to the outer scop is shown below.

In [5]:
x = 5
squares = [x ** 2 for x in range(10)]

Though `x` has been reassinged in the for loop, this does not affet the outer scope `x` , hence the value of `5` is still retained.

In [6]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

The above block create a list containing tuples.
The `second for loop` is nested in the `first for loop`, the value of `x` and `y` are made into a tuple and appended to the list only when the `if` statement is `true`

In [7]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

This block performs the same function as the previous.

**Tuples must be parenthesized**

In [8]:
vec = [-4, -2, 0, 2, 4]
[x * 2 for x in vec]
[x for x in vec if x >= 0]
[abs(x) for x in vec]
freshfruit = [' banana', ' loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]
[(x, x ** 2) for x in range(6)]
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

A list containing numbers is created.
* Line 2 creates a new list from `vec` by squaring each item in `vec`
* Line 3 created a new list from `vec` by excluding negative numbers
* Line 4 calculates the absolute value of each item in `vec` by using the `abs()` function. The results is put into a new list
* Line 6 removes leading and trailing whitespaces from each word in `freshfruits` and puts the results in a new list.
* Line 7 create a tuple of each number from 0 to 5 and and the square of that number, All the tuples are then placed in a list.
* vec is reinitialized to be a a nested list
* The line after renitialization  flattens `vec` into a new list by using a `nested for loop`

In [9]:
from math import pi

[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

A nested function call is used on each number from `1 to 5`
First pi is rounded to i (1,2,3,4 or 5) decimal places using the `round` function and then the results is converted to a string using `str()`.
All the strings are then put into a list

### Nested Comprehensions

In [10]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

This represents an implementation of a 3 by 4 matrix

In [11]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

The above code block creates a list from each column of `matrix`, it then appends the list to `transposed`.
The process is repeated 3 time by the `for i in range(4)`.
The resulting `transposed` values is the transpose of `matrix`

In [12]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### The del statement
The Python del keyword is used to delete objects.

In [13]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a
del a[2:4]
a
del a[:]
a
del a

* `del a[0]` deletes the element at `a[index]` from `a`
* `del a[2:4]` deletes the elements at index 2 and 3 from list `a`
* `del a[:]` deletes all elements from `a` since `a` contains only 1 row with multiple columns
* `del a` deletes the entire variable `a`

### Tuples and Sequences
A sequence is an ordered list of elements.
 A tuple is also an ordered list of elements, and it also may include repeat elements. The difference between sequences and tuples is that tuples have a finite number of elements necessarily, while sequences might have finite or infinite elements.

In [14]:
t = 12345, 54321, 'hello!'
t[0]
t
u = t, (1, 2, 3, 4, 5)
u
t[0] = 88888
v = ([1, 2, 3], [3, 2, 1])
v

TypeError: 'tuple' object does not support item assignment

The example above creates a tuple and stores it in variable `t`.
`t[0]` is used to access the first item just like lists. This indicates that a member of a tuple can be retrieved using an index.

The example above also demonstrates that a tuple can can contain other tuples. But it's important to know that a tuple is immutable, therefore the assignment of __8888__ to the first index of __t__ will result in an error.

In [ ]:
empty = ()
singleton = 'hello',
len(empty)
len(singleton)
singleton

The example above demonstrates that an empty tuple can be created using an opening and a closing parenthesis.
A tuple can also be created without parenthesis but separating the contents with commas.

## Sets
A set is an unordered collection of unique objects.

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
'orange' in basket
'crabgrass' in basket
a = set('abracadabra')
b = set('alacazam')
a
a - b
a | b
a & b
a ^ b

The example above demonstrates how a set is created.
It also demonstrates how to confirm the existence of an element in a set.
Aside using curly braces to create a set, a set can be created using the function __Set()__.
The example also demonstrates how different sets can be compared.

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}

The example above demonstrates that a set can also be created using comprehensions.

## Dictionaries
A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
The keys of a dictionary are immutable, hence mutable objects cannot be used as keys of a dictionary.

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel
tel['jack']
del tel['sape']
tel['irv'] = 4127
tel
list(tel)
sorted(tel)
'guido' in tel
'jack' not in tel

The example above demonstrates how a dictionary is created.
It demonstrates how a value in a dictionary can be retrieved or modified using the keys.
It shows how to delete an item in a dictionary can be deleted, and how a dictionary can be converted into a list.
It's also possible to confirm the existence and in-existence of an object in a dictionary.

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

The dict() constructor builds dictionaries directly from sequences of key-value pairs

## Looping Techniques

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

The code sample abode demonstrates how the keys and values of a dictionary can be retrieved through a loop.

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

The Code sample above demonstrates that the index and the corresponding value of a sequence can be retrieved in a loop if the sequence is passed to the __enumerate__ function.

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

The code sample above demonstrates how the __zip__ function can help to perform a single loop over multiple sequences.

In [ ]:
for i in reversed(range(1, 10, 2)):
    print(i)

The __reversed__ function can be used to reverse a sequence.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(basket):
    print(i)

The __sorted__ function can also be used to rearrange a sequence.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):
    print(f)

A sequence can be converted into a set using the __Set__ function, then the __sorted__ function allows it to be possible to loop over the set.

In [ ]:
import math

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

While looping through a list, the values of the list can be modified if needed. However, the best practice is to create a new list of the modified values.